[Unit]
Description=authentik Session Manager
# Documentation=https://github.com/hikhvar/mqtt2prometheus
After=network.target
# Before=prometheus.service

[Service]
Restart=always
ExecStart=/usr/bin/aksm

[Install]
WantedBy=multi-user.target
