[Unit]
Description=authentik sysd
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/ak-sysd agent
RuntimeDirectory=authentik
RuntimeDirectoryMode=0777

[Install]
WantedBy=multi-user.target
