[package]
name = "authentik_pam"
version = "0.17.0"
edition = "2024"
license = "MIT"
description = "libpam-authentik authenticates users through authentik."

[lib]
name = "authentik_pam"
crate-type = ["cdylib"]

[dependencies]
authentik_sys = { path = "../utils_rs" }
base64 = "0.22.1"
ctor = "0.6.0"
gethostname = "1.1.0"
hex = "0.4.3"
libc = "0.2.177"
log = "0.4.28"
pam-bindings = "0.1.1"
prost = "0.12"
rand = "0.9.2"
serde = "1.0.228"
serde_json = "1.0.145"
sha2 = "0.10.9"
whoami = "1.6.1"

[package.metadata.deb]
name = "libpam-authentik"
maintainer = "Authentik Security Inc."
license-file = ["../LICENSE", "4"]
depends = [
    "libc6",
	"libssl3 | libssl3t64",
    "authentik-sysd",
    "libpam0g",
]
section = "security"
priority = "optional"
assets = [
    { source = "target/release/libauthentik_pam.so", dest = "usr/lib/security/pam_authentik.so", mode = "644"},
    { source = "debian/pam_config", dest = "usr/share/pam-configs/authentik", mode = "644"},
]
maintainer-scripts = "debian"
