[package]
name = "authentik_pam"
version = "0.35.3"
edition = "2024"
license = "MIT"

[lib]
name = "authentik_pam"
crate-type = ["cdylib"]

[dependencies]
authentik_sys = { path = ".." }
base64 = "0.22.1"
ctor = "0.6.3"
gethostname = "1.1.0"
hex = "0.4.3"
libc = "0.2.178"
log = "0.4.29"
pam-bindings = "0.1.1"
prost = "0.14.1"
serde = "1.0.228"
serde_json = "1.0.147"
sha2 = "0.10.9"
whoami = "1.6.1"
