name: build-ee-psso

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: ./.github/actions/macos-signing
        with:
          p12-file-base64: ${{ secrets.APPLE_SIGN_CERT }}
          p12-password: ${{ secrets.APPLE_SIGN_CERT_PASSWORD }}
          ac-issuer: ${{ secrets.APPLE_AC_ISSUER }}
          ac-kid: ${{ secrets.APPLE_AC_KID }}
          ac-key: ${{ secrets.APPLE_AC_KEY }}
      - run: |
          make ee/psso/build
