name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  id-token: write

jobs:
  test_go:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        platform:
          - macos-15
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
          cache: true
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      - run: |
          make test
      - uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2
        if: ${{ always() }}
        with:
          paths: ${{ github.workspace }}/junit.xml
          show: "fail"
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        if: ${{ always() }}
        with:
          use_oidc: true
          flags: go-${{ matrix.platform }}
          files: ${{ github.workspace }}/coverage.txt
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        if: ${{ always() }}
        with:
          use_oidc: true
          flags: go-${{ matrix.platform }}
          files: ${{ github.workspace }}/junit.xml
          report_type: test_results
  lint_go:
    name: Lint (go)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Install libraries
        run: sudo apt-get update && sudo apt-get install -y libpam0g-dev
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v8
        with:
          args: --timeout 5000s
  lint_rs:
    name: Lint (rust)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - run: |
          sudo apt-get update
          sudo apt-get install -y libpam0g-dev
      - run: make lint-rs
  lint_js:
    name: Lint
    strategy:
      fail-fast: false
      matrix:
        target:
          - browser-ext
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: "${{ matrix.target }}/package.json"
          cache: "npm"
          cache-dependency-path: "${{ matrix.target }}/package-lock.json"
      - run: make ${{ matrix.target }}/lint
